
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a class="f-links" target="_blank" href="https://www.linkedin.com/in/nischaybandodiya?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="f-links" target="_blank" href="https://github.com/Nischayb99">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="f-links" target="_blank" href="https://x.com/Nischay_B99?t=huz_qMsp9veKE31OOwS9Qg&s=08">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a class="f-links" target="_blank" href="https://bsky.app/profile/nischayb99.bsky.social">
                <i class="fa-brands fa-bluesky"></i>
            </a>
            <a class="f-links" target="_blank" href="https://www.instagram.com/nischay.code?igsh=MWltcGs4aDRpYzgwcA==">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a class="f-links" target="_blank" href="https://youtube.com/@codernischay?si=pa855hvLL21qt4bB">
                <i class="fa-brands fa-youtube"></i>
            </a>

        </div>
        <div class="f-info-brand"> &copy; Nestora Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
<div class="bottom-div"></div>